<div class="container mt-5">
  <h2>{{ customer.id ? 'Edit' : 'Add' }} customer</h2>

  <!-- Display the success or error message -->
  <div *ngIf="message" class="alert" [ngClass]="messageType === 'success' ? 'alert-success' : 'alert-danger'">
    {{ message }}
  </div>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="customerName">customer Name</label>
      <input
        type="text"
        id="customerName"
        class="form-control"
        [(ngModel)]="customer.name"
        name="name"
        required
      />
    </div>

    <div class="form-group">
      <label for="customerEmail">Email</label>
      <input
        type="email"
        id="customerEmail"
        class="form-control"
        [(ngModel)]="customer.email"
        name="email"
        required
      />
    </div>
    <div class="form-group">
      <label for="customerPhone">Phone</label>
      <input
        type="text"
        id="customerPhone"
        class="form-control"
        [(ngModel)]="customer.phone"
        name="phone"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary mt-3">
      {{ customer.id ? 'Update customer' : 'Add customer' }}
    </button>
  </form>
</div>
